.mainBdy {
  margin: 20px;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;
}

.dfc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.terminalInfo {
  margin: 0px;
}

.terminalHead {
  font-weight: bold;
}

.services {
  display: flex;
}
