.mainBdy {
  margin: 20px;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 5px;
  margin: 3px;
}

.icon {
  width: 60px;
  height: 60px;
}

.dfc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.terminalInfo {
  margin: 0px;
}

.terminalHead {
  font-weight: bold;
}

.terminalSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  padding: 8px 15px;
  margin-left: 20px;
}

.inputEl {
  height: 26px;
  outline: none;
  border: 1px solid gray;
}

.dropdownStyle {
  height: 30px;
  width: 180px;
}

.inps {
  display: flex;
  align-items: center;
}

.inputElStyle {
  border-radius: 4px;
  margin: 8px 0px;
}

.inp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.saveBtn {
  padding: 7px 15px;
  border-radius: 20px;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  margin-left: 20px;
}

.hr {
  width: 100%;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.customModel {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.close {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.cusInp {
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.terminaTitle {
  margin: 0px;
}

.addTerminalBtn {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 8px;
  margin-top: 25px;
  cursor: pointer;
}

.actions {
  margin: auto;
  margin-right: 50px;
}
