.mainBdy {
  margin: 20px;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 5px;
}

.icon {
  width: 60px;
  height: 60px;
}

.dfc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.terminalInfo {
  margin: 0px;
}

.terminalHead {
  font-weight: bold;
}

.terminalSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  padding: 8px 15px;
  margin-left: 20px;
}
