.airportBodyComponent {
  margin: 30px;
  margin-left: 50px;
  width: 100%;
  margin-right: 100px;
}

.apBodyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.addBtn {
  padding: 9px 17px;
  background-color: black;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.airportsList {
  padding-left: 0px;
}

.dataHeadings {
  display: flex;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
}

.airportNameH {
  width: 60%;
  font-weight: bold;
  text-decoration: underline;
}

.countryH {
  width: 12%;
  font-weight: bold;
  text-decoration: underline;
}

.codeH {
  width: 12%;
  font-weight: bold;
  text-decoration: underline;
}

.noOfTerminalsH {
  width: 12%;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 0px;
}

.chkbxTitle {
  margin-left: 20px;
  margin-right: 13px;
}
