.headerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sitename {
  margin-left: 30px;
}

.profileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 30px;
}
